# Neon & Dart
.dart_tool/
.packages
build/
pubspec.lock
*.iml
.idea/
.vscode/
*.log
.DS_Store

# Android build and local configuration
.gradle/
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/android/captures/
**/android/.cxx/
local.properties

# Exported binaries / APKs / IPAs
export/
*.apk
*.aab
*.ipa

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.dSYM.zip
*.dSYM

